p {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #EBA850;
}

.button {
  --color: #6a5af9;
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 5px 5px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: 1px solid var(--color);
  font-size: 16px;
  position: relative;
  isolation: isolate;
}

.button:before {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color);
  z-index: -1;
  transition: width 0.25s ease-in;
}

.button:hover:before {
  width: 100%;
}
